.about {
  position: relative;
  height: 100vh;
  min-height: 700px;
}

.jaqamaz-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px;
}

.jaqamaz-description div {
  color: white;
  font-family: 'Montserrat';
  font-size: 18px;
  text-align: center;
}

.about-scroll-container {
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.the-team {
  position: relative;
  padding-bottom: 30px;
  display: block;
}

.artists-header {
  font-size: 3rem;
}

.artist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 80%;
}

.artist-name {
  margin-top: 0px;
}

.artist-img {
  max-width: 100%;
  width: 50%;
  border-radius: 5px;
}

.artist-description {
  text-align: justify;
  font-size: 1em;
}

.cta-mission-container {
  max-width: 700px;
  padding: 40px 0px;
  flex-direction: column;
}

.cta-mission-button {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta-mission-button a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.cta-mission-button:hover a {
	letter-spacing: 3px;
}
.cta-mission-button a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.cta-mission-button:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.cta-mission-button::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #AD7577;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.cta-mission-button:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.cta-mission-button::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #AD7577;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}

.cta-mission-button:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

@media (max-width: 1080px) {
  .artist-img {
    width: 80%;
    align-self: center;
  }

  .artist {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .about div {
    font-size: 16px;
  }

  .artist {
    margin-bottom: 40px;
  }
}

@media (max-width: 640px) {
  .artist {
    margin-bottom: 50px;
  }

  .about {
    display: block;
    height: auto;
  }

  .jaqamaz-description {
    padding: 90px 10px;
  }

  .artist-description {
    font-size: .8em;
  }
}