.group-photo-container {
  width: 100%;
  position: relative;
}

.group-photo {
  width: 100%;
  height: 100%;
}

.wave {
  position: absolute;
  bottom: -8%;
  width: 100%;
}

.home {
	background-color: #996667;
  flex-direction: column;
}

.home h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  margin: 0;
}

#jaqamaz-title {
  font-family: 'Gravitas';
  padding: 0px 0px 15px 0px;
}

.social-media-container {
  flex-direction: row;
  gap: 30px;
  padding: 15px 0px;
}

.social-media-container a {
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-media-container a img {
  display: block;
  height: 35px;
  width: 35px;
}

.social-media-icon img {
  width: 40px;
  height: 40px;
}

#yt-videos {
  width: 80%;
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.yt-wrapper {
	position: relative;
	overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  height: 0;
}

.yt-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.synopsis-and-links {
  max-width: 600px;
  gap: 50px;
  margin-bottom: 70px;
}

#synopsis {
  font-size: 1.23em;
}

.links {
  justify-content: flex-end;
  flex-direction: column;
}

@media (max-width: 1080px) {
}

@media (max-width: 768px) {
  .synopsis-and-links {
    flex-direction: column;
    margin: 20px;
  }

  .links {
    justify-content: center;
  }

  #synopsis {
    font-size: 1em;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .social-media-container {
    gap: 25px;
  }
}